<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('C:/DataScience/mlcourse_open-master/data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [18]:
df.groupby('gender')['height'].mean()
d = {2:'man', 1:'woman'}
df['gender']=df['gender'].map(d)

In [19]:
df['gender'].value_counts()

woman    45530
man      24470
Name: gender, dtype: int64

id
0          man
1        woman
2        woman
3          man
4        woman
8        woman
9        woman
12         man
13       woman
14       woman
15       woman
16         man
18         man
21       woman
23         man
24         man
25       woman
27       woman
28       woman
29         man
30         man
31       woman
32       woman
33         man
35       woman
36       woman
37       woman
38       woman
39         man
40         man
         ...
99958      man
99959      man
99960    woman
99961      man
99962    woman
99963      man
99964    woman
99965    woman
99967    woman
99969    woman
99971      man
99972      man
99973    woman
99974    woman
99975      man
99977    woman
99978      man
99979    woman
99981    woman
99985    woman
99986    woman
99988    woman
99990    woman
99991    woman
99992    woman
99993      man
99995    woman
99996      man
99998    woman
99999    woman
Name: gender, Length: 70000, dtype: object

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [26]:
df.groupby('gender')['alco'].mean()

gender
man      0.106375
woman    0.025500
Name: alco, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [58]:
df[df['gender']=='man']['smoke'].value_counts(normalize=True)[1]/df[df['gender']=='woman']['smoke'].value_counts(normalize=True)[1]

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [66]:
df['age_norm']=df['age']/365
(df.groupby('smoke')['age'].median()[0]-df.groupby('smoke')['age'].median()[1])/30

19.899999999999999

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [70]:
df['age_years'] = round(df['age']/365)

In [212]:
df[(df['age_years'] > 59) & 
   (df['age_years'] < 65) & 
   (df['gender']=='man') & 
   (df['cholesterol']==1) &
   (df['ap_hi']<120)]['cardio'].value_counts(normalize=True)[1]

0.40000000000000002

In [213]:
df[(df['age_years'] > 59) & 
   (df['age_years'] < 65) & 
   (df['gender']=='man') & 
   (df['cholesterol']==3) &
   (df['ap_hi']>=160)]['cardio'].value_counts(normalize=True)[1]

0.85074626865671643

In [211]:
0.85/0.4

2.125

**<font color='red'>Вопрос 6 (2 балла).</font> 
Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [133]:
df['bmi'] = df['weight']/((df['height']/100)**2)

In [134]:
df['bmi'].median()

26.374068120774975

In [136]:
df.groupby('gender')['bmi'].mean()

gender
man      26.754442
woman    27.987583
Name: bmi, dtype: float64

In [164]:
df.groupby('cardio')['bmi'].mean()

cardio
0    26.548175
1    28.566061
Name: bmi, dtype: float64

In [167]:
df[(df['cardio']==0) & (df['alco']==0)].groupby('gender')['bmi'].mean()

gender
man      25.872638
woman    26.845407
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [202]:
df[(df['ap_lo'] > df['ap_hi']) |
  (df['height'] > df['height'].quantile(0.975)) | 
  (df['height'] < df['height'].quantile(0.025)) |
  (df['weight'] > df['weight'].quantile(0.975)) |
  (df['weight'] < df['weight'].quantile(0.025)) 
  ]['age'].count()/df['age'].count()

0.096299999999999997

In [200]:
(6741)/70000

0.0963